.image-box{
    width:35%;
}
.text-box{
   width: 65%;;
}
.advertise-main-title,
.second-block h2,
#ourteam,
#ourprinciples{
    color: #02073E;
    font-family: Outfit;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.first-block span{
    color:#0A8080;
    font-family: Outfit;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.first-block p,
.second-block p{
    color: #000;
    font-family: Outfit;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
   
    
}

.first-block,
.second-block,
.third-block,
#ourteam,
.principles,
#ourprinciples
{
    width: 65%;
    margin:auto;
    padding:6rem 0;

    
} 


.first-block span,
.first-block h1,
.first-block p
{
    display: flex;
    justify-content: center;
    flex-direction: column;   
}
.aqua-background{
    background-color:rgba(89, 215, 188, 0.20);
}
.yellow-background{
    background-color: #FFF5ED;
}
.second-block{
    display: flex;
    align-items: flex-end;
    gap:10px;
    
       
}

.second-block img,
.third-block img,
.fourthblock img{
    border-radius: 10px;
}
/*-------------------------------------------------------------------------------------------------------------------------------------------*/

.third-block{
    display:flex;
    flex-flow: row wrap;  
}

.card{
    flex-basis: 33.33%;
 
    
}

.third-block p
/*.fourthblock p*/{
    color: #000;
    font-family: Outfit;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

/*-------------------------------------------------------------------------------------------------------------------------------------------*/
.principles{
    display: flex;
 /*   justify-content: space-between; */
   
    flex-wrap: wrap; 
    gap: 6rem;
}

.first-principle{
    flex-basis: 25%;
  /*  width:20%; */
}
.second-principle{
    flex-basis: 25%;
 /*   width:20%; */
}
.third-principle{
    flex-basis: 25%;
  /*  width:20%; */
}
.first-principle p,
.second-principle p,
.third-principle p{
    color: #000;
    font-family: Outfit;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    
}
.principles span{
    color: #0A8080;
    font-family: Outfit;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-right: 30px;
}
#ourprinciples{
   
    
    text-align: center;
}

@media  (max-width:1000px) {
    .second-block{
       flex-wrap: wrap;
        /*flex-direction: column; */
       /*align-content: flex-start;  */
       
    }
    .second-block .image-box{
        margin: 0 auto;
    }
   
    .second-block .text-box{
        text-align: center;
        margin: 0 auto;
        display: block;
        width: 100%;
    }
    .first-block{
        text-align: center;

    }
    }
 






