.text-box{
    width:50%;
   
}
.image-box{
    width:45%;
   
}

.first-block,
.aqua-background,
.third-block,
.yellow-background,
.fifth-block
{
    padding:5rem 0;
}

/*First block--------------------------------------------------------------------------------------------------------------------------------------------*/
.first-block{
    display: flex;
    width:80%;
    margin:auto;
     align-items: center; 
}
h1{
    color: #02073E;
    font-family: Outfit;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 50px;    
}
.first-block h1{
    margin-top: 0%;
}

p{
    color: #000;
    font-family: Outfit;
    font-size: 27px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/*second-block----------------------------------------------------------------------------------------------------------------------------------*/
.aqua-background{
    background-color:rgba(89, 215, 188, 0.20);
    
}

h2{
   color: #02073E;
   font-family: Outfit;
   font-size: 48px;
   font-style: normal;
   font-weight: 700;
   line-height: normal;
   padding-left: 170px;
   margin-bottom: 0;
}
.second-block{
    display: flex;
    width:75%;
    margin:auto;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}
.list{
   display: flex;
   flex-wrap: wrap;
   padding-left: 0px;
   gap: 25px;
}
.list li{
    width: 48%;
}

li{
    display: flex;
    align-items: center;
    gap:5px;
}
.aqua-background .list2 {
    
        display: flex;
        justify-content: space-around;
        
        
        width: 100%;
        
    
}

/*Third block----------------------------------------------------------------------------------------------------------------------------------------*/
.third-block,
.fourth-block,
.fifth-block{
    display: flex;
    width:80%;
    margin:auto;
    justify-content: space-between;
    align-items: center; 
}
.third-block .text-box,
.fourth-block .text-box,
.fifth-block .text-box{
    width:50%;
}

h3{
    color: #02073E;
    font-family: Outfit;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px; 
}
.yellow-background{
    background-color:#FFF5ED;
}
/*---------------------------------------------------------------------------------------------------------------------------------------------------*/

.sixth-block h3 { 
  font-family: Outfit;
  font-weight: 700;
  
  
  
}

.sixth-block p {
    color: #000;
    font-family: Outfit;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.sixth-block {
  display: flex;
  width: 83%;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
}

.cards {
  display: flex;
  flex-direction: column;
  padding: 40px 32px;
  align-items: flex-start;
}

.card1 {
  background-color:hsl(31, 78%, 56%);
  border-radius:  10px 0 0 10px;
  width: 30%;
}

.card2 {
  background-color: hsl(156, 36%, 52%);
  width: 30%;
  
}

.card3 {
  background-color: hsl(179, 51%, 54%);
  border-radius:  0 10px 10px 0;
  width: 30%;
}
.cars h3,
.cards p{
    width: 100%;
}
 
/*--------Community--------------------------------------------------------------------------------------------------------------------------------*/
.community{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0 auto;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    border-radius: 10px;
    height: 70vh;
    
}
.box1{
    width: 100%;
    margin: 0 auto;
    height: 50%;
}
.container2{
    display: flex;
    margin: 0 auto;
    width: 100%;
    height: 50%;
}
.box2,
.box3{
    width: 50%;

}
.box2{
    background-color: #2ab2af;
}
.box3{
    background-color: #4fbebc;
}
.community p
{
color: #7E8896;
font-family: DM Sans;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 40px;
}
.community h4{
color: #c0df34;
font-family: DM Sans;
font-size: 20px;
font-style: normal;
font-weight: 400;

}
.community h2{
    color: #c0df34;
    font-family: DM Sans;
    font-size: 38px;
    font-style: normal;
    font-weight: 600;
    
}

.box2 p,
.box3 li{
color: white;
font-family: DM Sans;
font-size: 16px;
font-style: normal;
font-weight: 400;

}
.community p,
.community h3,
.community h4,
.community span{
    padding-left: 2rem;
}
.community span{
    color: white;
font-family: DM Sans;
font-size: 36px;
font-style: normal;
font-weight: 400;
}
.community h3{
    color: white;
    font-family: DM Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
}



@media(max-width:900px) {
    .first-block,
    .third-block,
    .fourth-block,
    .fifth-block,
    .sixth-block,
    .community{
        display: block;
        width: 100%;
        margin: 0 auto;
    }
    .first-block .image-box,
    .third-block .image-box,
    .fourth-block .image-box,
    .fifth-block .image-box{
        display: block;
       
        margin: 0 auto;
    }
    .first-block .text-box,
    .third-block .text-box,
    .fourth-block .text-box,
    .fifth-block .text-box{
        display: block;
        margin: 0 auto;
        text-align: center;
    }
    .second-block .list{
       justify-content: center;
        width: 0 auto;
    }
    .second-block .list2{
        display: block;
        width: 0 auto;
       
    }
    .aqua-background h2{
        text-align: center;
        padding-left: 0%;
        margin: 0 auto;
    }
    .cards{
        padding: 0;
        align-items: center;
        margin: 0 auto;
    }
    .community{
        text-align: center;
        align-items: center;
    }
   }
   
   @media(max-width:700px){
    .cards{
        width: 100%;
        text-align: center;
        padding: 0 1.5rem;
    }
   
    .community h2,
    .community h4{
        text-align: center;
    }
    #center{
        padding-left: 0;
    }
    .community p,
    .community h3,
    .community h4,
    .community span{
    padding-left: 0rem;
    }
   } 
   
   @media(max-width:400px){
    .container2{
        display: block;
        width: 100%;
        margin: 0 auto;
    }
    .box2,
    .box3{
    width: 100%;

}
   }











/* MEDIA QUERY 
@media only screen and (max-width: 600px) {
  p {
    margin-bottom: 20px;
  }

  body {
    height: auto;
  }

  .sixth-block {
    flex-direction: column;
    margin: 16% 0;
    padding: 8%;
  }

  .cards {
    padding: 38px 44px;
  }

  .card1 {
    border-radius:  10px 10px 0 0;
  }
  
  .card3 {
    border-radius:  0 0 10px 10px;
  }
  
} */










 /* * {
    background: #000 !important;
    color: #0f0 !important;
    outline: solid #f00 1px !important;
  }  */