.text-box{
    width:55%;
   
}
.image-box{
    width:45%;
   
}

.first-block,
.aqua-background,
.third-block,
.yellow-background,
.fifth-block
{
    padding:5rem 0;
}

/*First block--------------------------------------------------------------------------------------------------------------------------------------------*/
.first-block{
    display: flex;
    width:75%;
    margin:auto;
     align-items: center; 
}
h1{
    color: #02073E;
    font-family: Outfit;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 50px;    
}
.first-block h1{
    margin-top: 0%;
}

p{
    color: #000;
    font-family: Outfit;
    font-size: 27px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/*second-block----------------------------------------------------------------------------------------------------------------------------------*/
.aqua-background{
    background-color:rgba(89, 215, 188, 0.20);
    
}

h2{
   color: #02073E;
   font-family: Outfit;
   font-size: 48px;
   font-style: normal;
   font-weight: 700;
   line-height: normal;
   padding-left: 170px;
   margin-bottom: 0;
}
.second-block{
    display: flex;
    width:75%;
    margin:auto;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}
.list{
   display: flex;
   flex-wrap: wrap;
   padding-left: 0px;
   gap: 25px;
}
.list li{
    width: 48%;
}

li{
    display: flex;
    align-items: center;
    gap:5px;
}
.aqua-background .list2 {
    
        display: flex;
        justify-content: space-around;
        
        
        width: 100%;
        
    
}

/*Third block----------------------------------------------------------------------------------------------------------------------------------------*/
.third-block,
.fourth-block,
.fifth-block{
    display: flex;
    width:75%;
    margin:auto;
    justify-content: space-between;
    align-items: center; 
}
.third-block .text-box,
.fourth-block .text-box,
.fifth-block .text-box{
    width:50%;
}

h3{
    color: #02073E;
    font-family: Outfit;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px; 
}
.yellow-background{
    background-color:#FFF5ED;
}

@media screen and (max-width:900px) {
    .first-block,
    .third-block,
    .fourth-block,
    .fifth-block{
        display: block;
        width: 100%;
        margin: 0 auto;
    }
    .first-block .image-box,
    .third-block .image-box,
    .fourth-block .image-box,
    .fifth-block .image-box{
        display: block;
       
        margin: 0 auto;
    }
    .first-block .text-box,
    .third-block .text-box,
    .fourth-block .text-box,
    .fifth-block .text-box{
        display: block;
        margin: 0 auto;
        text-align: center;
    }
    .second-block .list{
       justify-content: center;
        width: 0 auto;
    }
    .second-block .list2{
        display: block;
        width: 0 auto;
       
    }
    .aqua-background h2{
        text-align: center;
        padding-left: 0%;
        margin: 0 auto;
    }

}