.text-box{
    width:55%;
   
}
.image-box{
    width:45%;
   
}

/*First block--------------------------------------------------------------------------------------------------------------------------------------------*/
.first-block{
    display: flex;
    width:75%;
    margin:auto;
    padding-top: 70px;   
}
h1{
    color: #02073E;
    font-family: Outfit;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 50px;    
}
.first-block h1{
    margin-top: 0%;
}
p{
    color: #000;
    font-family: Outfit;
    font-size: 27px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/*second-block----------------------------------------------------------------------------------------------------------------------------------*/
.aqua-background{
    background-color:rgba(89, 215, 188, 0.20);
    padding-bottom: 40px;
}
h2{
   color: #02073E;
   font-family: Outfit;
   font-size: 48px;
   font-style: normal;
   font-weight: 700;
   line-height: normal;
   padding-left: 170px;
   margin-bottom: 0;
}
.second-block{
    display: flex;
    width:75%;
    margin:auto;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}
.first-list,
.second-list{
   display: flex;
   flex-direction: column;
   padding-left: 0px;
   gap: 25px;
}

li{
    display: flex;
    align-items: center;
    gap:5px;
}
/*Third block----------------------------------------------------------------------------------------------------------------------------------------*/
.third-block,
.fourth-block,
.fifth-block{
    display: flex;
    width:75%;
    margin:auto;
    justify-content: space-between;
}
.third-block .text-box,
.fourth-block .text-box,
.fifth-block .text-box{
    width:60%;
}

h3{
    color: #02073E;
    font-family: Outfit;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px; 
}
.yellow-background{
    background-color:#FFF5ED;
}

