/* navigation bar -------------------------------------------------------------------- */
nav{
    display:flex;
    justify-content: space-around;
    align-items: center;
}
li{
    list-style: none;
}
.logo,
.nav-list,
#login,
#getstarted{
    font-family: Outfit;
    font-size: 18px;
    font-style:normal;
    line-height: normal;
}
.logo{
    display:flex;
    align-items: center; 
    gap:15px;
    color: black;
    font-weight: 300;
}
.nav-list{
    display:flex;
    list-style: none;
    gap:20px;
    color: #0F2137;
    font-weight: 300;
}
.login{
    display:flex;
   
    gap:10px;
}
a{
    text-decoration: none;
}
#login{
    color:#0F2137;
    font-weight:500;
}
#getstarted{
    color:#0A8080;
    font-weight:500;
}
/*First block--------------------------------------------------------------------------------------------------------------------------------------------*/
.first-block{
    display: flex;
    flex-direction: column;
    width:75%;
    margin:auto;
    padding-top: 70px;
    
}
h1{
    color: #02073E;
    font-family: Outfit;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 70px;   
}
p{
    color: #0F2137;
    font-family: Outfit;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  
}
.first-block p{
    text-align: center;
    color: #02073E;   
}
button{
    border-radius: 5px;
    background: #0A8080;
    height: 60px;
    width: 180px;
    border: none;
    color: white;
    position: relative;
    left: 450px;
    top: 30px;  
}
.text-box{
    text-align: center;
    width: 75%;
    margin: auto;
}
/*second block--------------------------------------------------------------------------------------------------------------------------------------------------------*/
.second-block{
    display: flex;
    flex-direction: column;
    width:75%;
    margin:auto;
    gap: 90px;
   
    
   
}
h2{
    color: #02073E;
    font-family: Outfit;
    font-size: 34px;
    font-style: normal;
    font-weight: 700;
    line-height: 70px;  
    text-align: center; 
}
#build{
   
    color: #0F2137; 
     
    font-family:Outfit;
    width:53%;
    margin: auto;
    text-align: center;
}
.second-block .list1{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0px;
    

}
.list1 li{
   
   display: flex;
   align-items: flex-start;
   gap: 15px;
}
.list1 li img{
   
    padding: 0px;
}
.list1 li p{
    color: #343D48;
    font-family: DM Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; 
    width: 80%;
}
blockquote p{
    font-size: 24px;
    line-height: 50px;
   
    width:80%;
    margin: auto;
}
.grey{
    color: #7E8896;
    font-family: DM Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    
    
}
/*.second-block-one{
    background-color: wheat;
}
.second-block-two{
    background-color:aqua ;
}
.second-block-three{
    background-color:brown ;
}
.second-block-four{
    background-color: antiquewhite;
} */

.list2{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.background{
    background-color: #FFF5ED;
}
/*Third block--------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
.build{
    width: 44%;
    margin: auto;
    text-align: center;
}
.third-block{
    display: flex;
    justify-content: space-between;
    width:90%;
    margin:auto;
    margin-top: 50px;
}

.s1{
    background-color: #FFFAF6;
    border-radius: 5px;
}
.s2{
    background-color: #F7FBFB;
    border-radius: 5px;
}
.s3{
    background-color: #FBF8F6;
    border-radius: 5px;
}
.s4{
    background-color: #FFFAF6;
    border-radius: 5px;
}
/*fourth block/fifth block-----------------------------------------------------------------------------------------------------------------------------------------------------------------*/
.background2{
    display: flex;
    flex-direction: column;
    gap:90px;
    background-color: #F9FAFC;
    padding-bottom: 35px;
}
.focus{
    width: 44%;
    margin: auto;
    text-align: center;
    line-height: 35px;
}
.fourth-block,
.fifth-block{
    display: flex;
    width:75%;
    margin:auto;
    justify-content: space-between;

}
.fourth-block ul,
.fifth-block ul{
    display: flex;
    gap:15px;

}
.fourth-block p,
.fifth-block p{
    color: #343D48;
    font-family: DM Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}
.background2 a{
    color: #3183FF;
    font-family: DM Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 42px;
}
/*sixth block---------------------------------------------------------------------------------------------------------------------------------------------------------*/
.flex{
    display: flex;
    justify-content: space-around;
    width:75%;
    margin:auto;
}
.sixth-block{
    display: flex;
    width:75%;
    margin:auto;
    justify-content: space-between;
   
}
.sixth-block h2{
    color: #0F2137;
    font-family: B612;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px; 
    letter-spacing: -1px;
    text-align: left;
}
.sixth-block p{
    color: #02073E;
    font-family: DM Sans;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 42px;
    text-align: left;
}
.lists{
    display: flex;
    align-items: center;
    gap: 15px;
    column-gap: 10px;
}
.lists img{
    border-radius: 10px;
}
.lists li{
    display: flex;
    padding-bottom: 10px;
    gap: 10px;
    
}
.lists ul{
    padding-left: 0%;  
}
.sixth-block a{
    color: #3183FF;
    font-family: DM Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 42px;
    padding-left: 0px;
}
/*seventh block----------------------------------------------------------------------------------------------------------------------------------------------------------*/
.seventh-block{
    display: flex;
    width:60%;
    margin:auto;    
    padding-left: 0%;
    background-color: red;
    border:1px solid black;
    height:100px;
    margin-top: 50px;
}
.seventh-block .text-box{
    text-align: left;
    background-color: pink;
    height: 200px;
    
}
.seventh-block h2{
    
   
}
.background3{
    background-color: #F8F0EA;
    border: #343D48;
    height: 500px;
    width: 100%;
    
}
form{
    height: 200px; 
}
/*footer-----------------------------------------------------------------------------------------------*/
.nav-footer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 100px;
}

.footer1,
.footer2,
.footer3,
.footer4,
.footer5{
    line-height: 25px;
    align-items: center;
}
.logo-text{
    display: flex;
    align-items: center;
    gap:5px; 
   
}
.list-margin{
    margin-bottom: 15px;
}
