
/* font-family: 'Outfit', sans-serif; */
/*width:80% ??*/



.main-title{
    color: #02073E;
    text-align: center;
    font-family: Outfit;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin:90px 360px 60px 360px;
    
}


.advertise-main-title,
.secondblock h2,
#ourteam,
#ourprinciples{
    color: #02073E;
    font-family: Outfit;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.firstblock span{
    color:#0A8080;
    font-family: Outfit;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.firstblock p,
.secondblock p{
    color: #000;
    font-family: Outfit;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
   
    
}
.firstblock{
    display: flex; 
    justify-content: center;
    flex-direction: column;
    margin-top: 200px;
    width:60%;
    
}
.firstblock,
.secondblock,
.thirdblock,
.fourthblock,
#ourteam,
.principles
{
    margin-right: 250px;
    margin-left: 250px; 
} 




.firstblock span,
.firstblock h1,
.firstblock p
{
    display: flex;
    justify-content: center;
    flex-direction: column;   
}
.aqua-background{
    background-color:rgba(89, 215, 188, 0.20);
}
.yellow-background{
    background-color: #FFF5ED;
}
.secondblock{
    display: flex;
    width:60%;
       
    
}

.secondblock img{
    height:80%;
    position: relative;
    left: 10px;
    top: 30px;
    
}
.secondblock img,
.thirdblock img,
.fourthblock img{
    border-radius: 10px;
}
.thirdblock{
    display:flex;
    justify-content: space-between;
    width:60%;
   
}
.fourthblock{
    display: flex;
    justify-content: space-between;
    width: 60%;
    
}

.thirdblock p,
.fourthblock p{
    color: #000;
    font-family: Outfit;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.principles{
    display: flex;
    justify-content: space-between;
    width:60%;
}
.first-principle{
   
    width:20%;
}
.second-principle{
   
    width:20%;
}
.third-principle{
    
    width:20%;
}
.first-principle p,
.second-principle p,
.third-principle p{
    color: #000;
    font-family: Outfit;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    
}
.principles span{
    color: #0A8080;
    font-family: Outfit;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-right: 30px;
}
#ourprinciples{
    margin-right: 700px;
    margin-left: 700px;
    padding-top: 20px;
}

/*-------form----------------------------------------------------------------------------------------------------------------------------*/
.form-input{
    width: 500px;
    height: 60px;
    border-width: 1px;
    border-radius: 10px;
    background: #D9D9D9;
    display: block;
    margin:auto;
    outline: none;
    padding-left:15px;
    
}
.form-input.textarea{
    height:225px;
    resize: none;
    padding-left:15px;
}
.submit-button{
    width: 165px;
    height: 58px;
    display:block;
    margin:auto;
    border-radius: 10px;
    background: #0A8080;
    border-width: 1px;
    color: #FFF;
    text-align: center;
    font-family: Outfit;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 46px;

}

/* navigation bar -------------------------------------------------------------------- */
nav{
    display:flex;
    justify-content: space-around;
    align-items: center;
}
li{
    list-style: none;
}
.logo,
.nav-list,
#login,
#getstarted{
    font-family: Outfit;
    font-size: 18px;
    font-style:normal;
    line-height: normal;
}
.logo{
    display:flex;
    align-items: center; 
    gap:15px;
    color: black;
    font-weight: 300;

}
.nav-list{
    display:flex;
    list-style: none;
    gap:20px;
    color: #0F2137;
    font-weight: 300;
    
    
}

.login{
    display:flex;
   
    gap:10px;
}
a{
    text-decoration: none;
}
#login{
    color:#0F2137;
    font-weight:500;
}
#getstarted{
    color:#0A8080;
    font-weight:500;
}
/*-----------------------------------------------------------------------------------------------*/



.nav-footer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 100px;
}

.footer1,
.footer2,
.footer3,
.footer4,
.footer5{
    line-height: 25px;
    align-items: center;
}
.logo-text{
    display: flex;
    align-items: center;
    gap:5px; 
   
}
.list-margin{
    margin-bottom: 15px;
}





