
/* font-family: 'Outfit', sans-serif; */
.main-title{
    color: #02073E;
    text-align: center;
    font-family: Outfit;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin:90px 360px 60px 360px;
    
}
/*-------form----------------------------------------------------------------------------------------------------------------------------*/
.form-input{
    width: 500px;
    height: 60px;
    border-width: 1px;
    border-radius: 10px;
    background: #D9D9D9;
    display: block;
    margin:auto;
    outline: none;
    padding-left:15px;
    
}
.form-input.textarea{
    height:225px;
    resize: none;
    padding-left:15px;
}
.submit-button{
    width: 165px;
    height: 58px;
    display:block;
    margin:auto;
    border-radius: 10px;
    background: #0A8080;
    border-width: 1px;
    color: #FFF;
    text-align: center;
    font-family: Outfit;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 46px;

}

/* navigation bar -------------------------------------------------------------------- */
nav{
    display:flex;
    justify-content: space-around;
    align-items: center;   
}
li{
    list-style: none;
}
.logo,
.nav-list,
#login,
#getstarted{
    font-family: Outfit;
    font-size: 18px;
    font-style:normal;
    line-height: normal;
}
.logo{
    display:flex;
    align-items: center; 
    gap:15px;
    color: black;
    font-weight: 300;

}
.nav-list{
    display:flex;
    list-style: none;
    gap:20px;
    color: #0F2137;
    font-weight: 300;
    
    
}
.login{
    display:flex;
   
    gap:10px;
}
a{
    text-decoration: none;
}
#login{
    color:#0F2137;
    font-weight:500;
}
#getstarted{
    color:#0A8080;
    font-weight:500;
}
/*-----------------------------------------------------------------------------------------------*/
/*.container{
    display: flex;
    gap: 700px;

} */
.image-droite{
   /* position:absolute; */
   display:flex; 
 
   /* top: 40px; */
   /* width: 100px; */
    
}


.nav-footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 100px;
}

.footer1,
.footer2,
.footer3,
.footer4,
.footer5{
    line-height: 25px;
    align-items: center;
}
.logo-text{
    display: flex;
    align-items: center;
    gap:5px; 
   
}
.list-margin{
    margin-bottom: 15px;
}